@font-face {
    font-family: 'intro_bold';
    src: url('../fonts/intro_bold.eot');
    src: url('../fonts/intro_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/intro_bold.otf') format('otf'),
         url('../fonts/intro_bold.svg#intro_bold') format('svg'),
         url('../fonts/intro_bold.ttf') format('truetype'),
         url('../fonts/intro_bold.woff') format('woff'),
         url('../fonts/intro_bold.woff2') format('woff2');
}
html {
    box-sizing: border-box;
}
*,*::before, *::after {
    box-sizing: inherit;
}
img {
    max-width: 100%;
}
body {
    margin: 0;
}
.center {
    padding-left: 10px;
    padding-right: 10px;
}

/* 1. Шапка */

.header {
    min-height: 55px;
    background-color: rgb(232, 227, 227);
}
.header__content{
    padding-top: 13px;
    padding-bottom: 10.23px;
    display: flex;
    align-items: center;
    gap: 18px;
    justify-content: space-between;
}
.circles {
    width: 34px;
    height: 9px;
}
.circle__phone {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.phone {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 10px;
    color: rgb(0, 0, 0);
}
.logo {
    width: 78px;
    height: 32px;
}
.button__request {
    cursor: pointer;
    padding: 0;
    background-color: rgb(222, 89, 34);
    border: none;
    border-radius: 30px;
    width: 101px;
    height: 24px;
    color: rgb(255, 255, 255);
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
}

/* 2. Стань владельцем кофейни */

.about {
    min-height: 248px;
    background-color: rgb(255, 255, 255);
}
.info__h4 {
    margin: 0;
    font-family: 'intro_bold';
    text-align: center;
    text-transform: uppercase;
    flood-color: black;
    font-size: 15px;
    padding-top: 15px;
}
.about__img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 16px;
    justify-items: center;
    column-gap: 7px;
}
.omimi {
    width: 146px;
    height: 49px;
    grid-column: 1/4;
    grid-row: 1/2;
}
.cup__coffee {
    width: 42px;
    height: 55px;
}
.cup__tea {
    width: 51px;
    height: 37px;
    position: absolute;
    top: 19px;
    left: 0;
}
.chocolate {
    width: 38.75px;
    height: 48.7px;
}
.coffee {
    grid-column: 1/2;
    grid-row: 2/3;
    position: relative;
}
.tea {
    grid-column: 3/4;
    grid-row: 2/3;
    position: relative;
}
.snack {
    grid-column: 2/3;
    grid-row: 3/4;
    position: relative;
}
.coffee__point {
    grid-column: 4/5;
    grid-row: 1/4;
}
.plus {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-top: 19px;
}
.text__income1, .text__income2, .text__income3 {
    font-family: "Comfortaa", sans-serif;
    text-transform: uppercase;
    flood-color: rgb(35, 35, 38);
    font-size: 6px;
    position: absolute;
}
.text__percent100-1, .text__percent300, .text__percent100-2 {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 9px;
    color: rgb(222, 89, 34);
    position: absolute;
}
.text__sign-1, .text__sign-2, .text__sign-3 {
    font-family: 'intro_bold';
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    position: absolute;
}
.text__income1 {
    top: 27px;
    left: 8px;
}
.text__percent100-1 {
    top: 34px;
    left: 8.89px;
}
.text__sign-1 {
    top: 66px;
    left: 6.89px;
}
.text__income2 {
    top: 28px;
    left: 9px;
}
.text__percent300 {
    top: 36px;
    left: 8.89px;
}
.text__sign-2 {
    font-size: 9px;
    top: 65px;
    left: -5.11px
}
.text__income3 {
    top: 27px;
    left: 8px;
}
.text__percent100-2 {
    top: 34px;
    left: 8.89px;
}
.text__sign-3 {
    top: 52px;
    left: 2.89px;
}

/* 3. Получи предложение */

.offer {
    min-height: 127px;
    background-color: rgb(45, 45, 45);
}
.offer__content {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 14px;
    justify-items: start;
    padding-top: 8px;
}
.text__offer {
    grid-column: 1/3;
    grid-row: 1/2;
    font-family: 'intro_bold';
    color: rgb(238, 130, 11);
    font-size: 13px;
}
.input__name, .input__email, .input__tel, .input__city {
    border: 1px solid rgb(239, 232, 232);
    border-radius: 30px;
    width: 112px;
    height: 23px;
    background-color: rgb(45, 45, 45);
    padding: 0 20px;
}
.input__name {
    grid-column: 1/2;
    grid-row: 2/3;
}
.input__email {
    grid-column: 1/2;
    grid-row: 3/4;
}
.input__tel {
    grid-column: 3/4;
    grid-row: 2/3;
}
.input__city {
    grid-column: 3/4;
    grid-row: 3/4;
}
.button__request-of {
    grid-column: 3/4;
    grid-row: 1/2;
    cursor: pointer;
    padding: 0;
    background-color: rgb(222, 89, 34);
    border: none;
    border-radius: 30px;
    width: 112px;
    height: 23px;
    color: rgb(255, 255, 255);
    font-family: 'intro_bold';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
}
.offer__text {
    font-family: 'intro_bold';
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 6px;
}

/* 4. Как это работает */

.video {
    min-height: 248px;
    background-color: rgb(255, 255, 255);
}
.how__work {
    margin: 0;
    font-family: 'intro_bold';
    text-align: center;
    color: rgb(239, 131, 10);
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 20px;
}
.cat__work {
    width: 121px;
    height: 124px;
}
.cat__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.watch__video {
    cursor: pointer;
    background-color: rgb(240, 131, 10);
    border: none;
    border-radius: 10px;
    width: 160px;
    height: 150px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
} 
.text__button1, .text__button3 {
    font-size: 10px;
}
.text__button2 {
    margin: 0;
    font-size: 30px;
}

/* 5. Открой кофейню */

.open__coffee__shop {
    min-height: 127px;
    background-color: rgb(232, 227, 227);
}
.coffe__shop__content {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 14px;
    justify-items: start;
    padding-top: 8px;
}
.text__coffee__shop {
    grid-column: 1/3;
    grid-row: 1/2;
    font-family: 'intro_bold';
    color: rgb(222, 89, 34);
    font-size: 13px;
}
.input__name-cs, .input__email-cs, .input__tel-cs, .input__city-cs {
    border: 1px solid rgb(35, 35, 38);
    border-radius: 30px;
    width: 112px;
    height: 23px;
    background-color: rgb(232, 227, 227);
    padding: 0 20px;
}
.input__name-cs {
    grid-column: 1/2;
    grid-row: 2/3;
}
.input__email-cs {
    grid-column: 1/2;
    grid-row: 3/4;
}
.input__tel-cs {
    grid-column: 3/4;
    grid-row: 2/3;
}
.input__city-cs {
    grid-column: 3/4;
    grid-row: 3/4;
}
.button__request-cs {
    grid-column: 3/4;
    grid-row: 1/2;
    cursor: pointer;
    padding: 0;
    background-color: rgb(222, 89, 34);
    border: none;
    border-radius: 30px;
    width: 112px;
    height: 23px;
    color: rgb(255, 255, 255);
    font-family: 'intro_bold';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
}
.offer__text-cs {
    font-family: 'intro_bold';
    text-align: center;
    color: rgb(35, 35, 38);
    font-size: 6px;
}

/* 6. Coffee-tea point */

.coffee__tea__point {
    min-height: 248px;
    border-color: rgb(255, 255, 255);
}
/* .point__container {
    display: flex;
} */
.left__part {
    position: relative;
}
.text__coffee-tea, .lv307, .tea-cp, .cm210, .cm140 {
    position: absolute;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 10px;
    text-align: center;
}
.text__coffee-tea{
    top: 17px;
    left: -9px
}
.lv307 {
    top: 58px;
    left: -1px;
}
.tea-cp {
    top: 129px;
    left: -7px;
}
.cm210 {
    top: 98px;
    left: 18px;
    transform: rotate(-90deg);
}
.cm140 {
    top: 15px;
    left: 86px;
}
.teatone_2 {
    position: absolute;
    width: 56px;
    height: 15px;
    top: 159px;
    left: -11px;
}
.rectangle__2 {
    position: absolute;
    width: 102px;
    height: 172px;
    top: 32px;
    left: 53px;
    z-index: 1;
}
.shadow2 {
    position: absolute;
    width: 106px;
    height: 10px;
    top: 196px;
    left: 50px;
    z-index: 0;
}
.arrow_double {
    position: absolute;
    width: 6px;
    height: 165.01px;
    top: 38px;
    left: 43px;
}
.arrow_double2 {
    position: absolute;
    width: 88px;
    height: 6px;
    top: 28px;
    left: 60px;
}
.line__left-1 {
    position: absolute;
    width: 73px;
    height: 13px;
    top: 75px;
    left: -7px;
    z-index: 2;
}
.line__left-2 {
    position: absolute;
    width: 104px;
    height: 23px;
    top: 122px;
    left: -7px;
    z-index: 3;
}
.right__part {
    position: relative;
}
.snack-cp, .positions__12, .cm20, .cm210-2 {
    position: absolute;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 10px;
    text-align: center;
}
.snack-cp {
    top: 18px;
    left: 226px;
}
.positions__12 {
    top: 59px;
    left: 216px;
}
.cm20 {
    top: 16px;
    left: 170px;
}
.cm210-2 {
    top: 101px;
    left: 207px;
    transform: rotate(-90deg);
}
.plus2 {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 111px;
    left: 156px;
}
.block-rect {
    position: absolute;
    width: 17px;
    height: 164.99px;
    top: 37px;
    left: 176px;
    z-index: 1;
}
.shadow3 {
    position: absolute;
    width: 44px;
    height: 5px;
    top: 200px;
    left: 164px;
    z-index: 0;
}
.two_cats {
    position: absolute;
    width: 69px;
    height: 55.01px;
    top: 151px;
    left: 223px;
}
.arrow_double-r {
    position: absolute;
    width: 6px;
    height: 165.01px;
    top: 39px;
    left: 207px;
}
.arrow_double3 {
    position: absolute;
    width: 19px;
    height: 6px;
    top: 29px;
    left: 175px;
}
.line-right {
    position: absolute;
    width: 104px;
    height: 12px;
    top: 76px;
    left: 192px;
}
.price80, .price420  {
    position: absolute;
    border: none;
    border-radius: 30px;
    width: 79px;
    height: 19.15px;
    background-color: rgb(238, 130, 11);
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price80 {
    top: 218px;
    left: 193px;
}
.price420 {
    top: 218px;
    left: 6px;
}

/* 7. Стань частью OMIMI */

.become__part__omimi {
    min-height: 127px;
    background-color: rgb(45, 45, 45);
}
.part__omimi__content {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 14px;
    justify-items: start;
    padding-top: 8px;
}
.text__part__omimi {
    grid-column: 1/3;
    grid-row: 1/2;
    font-family: 'intro_bold';
    color: rgb(238, 130, 11);
    font-size: 13px;
}
.input__name-po, .input__email-po, .input__tel-po, .input__city-po {
    border: 1px solid rgb(239, 232, 232);
    border-radius: 30px;
    width: 112px;
    height: 23px;
    background-color: rgb(45, 45, 45);
    padding: 0 20px;
}
.input__name-po {
    grid-column: 1/2;
    grid-row: 2/3;
}
.input__email-po {
    grid-column: 1/2;
    grid-row: 3/4;
}
.input__tel-po {
    grid-column: 3/4;
    grid-row: 2/3;
}
.input__city-po {
    grid-column: 3/4;
    grid-row: 3/4;
}
.button__request-po {
    grid-column: 3/4;
    grid-row: 1/2;
    cursor: pointer;
    padding: 0;
    background-color: rgb(222, 89, 34);
    border: none;
    border-radius: 30px;
    width: 112px;
    height: 23px;
    color: rgb(255, 255, 255);
    font-family: 'intro_bold';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
}
.offer__text-po {
    font-family: 'intro_bold';
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 6px;
}

/* 8. Какой заработок */

.what__profit {
    min-height: 250px;
    background-color: rgb(255, 255, 255);
}
.profit__content {
    position: relative;
}
.what__profit-h4 {
    margin: 0;
    position: absolute;
    font-family: 'intro_bold';
    text-align: center;
    color: rgb(239, 131, 10);
    font-size: 18px;
    text-transform: uppercase;
    top: 16px;
    left: 6px;
}
.cat__in__hat {
    position: absolute;
    width: 101px;
    height: 79px;
    top: 70px;
    left: 15px;
}
.money {
    position: absolute;
    width: 52.22px;
    height: 67px;
    top: 164px;
    left: 53px;
}
.coffe__text-pr, .tea__profit-pr, .snack__profit-pr {
    position: absolute;
    font-family: 'intro_bold';
    text-align: center;
    color: rgb(222, 89, 34);
    font-size: 14px;
    text-transform: uppercase;
}
.coffe__text-pr {  
    top: 18px;
    left: 134.09px;
}
.tea__profit-pr {
    top: 95px;
    left: 132px;
}
.snack__profit-pr {
    top: 173px;
    left: 131.72px;
}
.coffe__profit {
    position: absolute;
    width: 44.88px;
    height: 59.84px;
    top: 24px;
    left: 257px;
}
.tea__profit {
    position: absolute;
    width: 61px;
    height: 48px;
    top: 110px;
    left: 252.28px;
}
.snack__profit {
    position: absolute;
    width: 51px;
    height: 63px;
    top: 180px;
    left: 255.73px;
}
.snack__1-l {
    position: absolute;
    width: 15.87px;
    height: 12.46px;
    top: 182.93px;
    left: 266.1px;
}
.snack__2-r {
    position: absolute;
    width: 15.35px;
    height: 12.46px;
    top: 182.98px;
    left: 285.21px;
}
.line__profit-1 {
    position: absolute;
    width: 130px;
    height: 2px;
    top: 73px;
    left: 134px;
}
.line__profit-2 {
    position: absolute;
    width: 123px;
    height: 2px;
    top: 154px;
    left: 132.28px;
}
.line__profit-3 {
    position: absolute;
    width: 129px;
    height: 2px;
    top: 229px;
    left: 131.72px;
}
.invested, .invested1, .invested2 {
    position: absolute;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 8px;
}
.invested {
    top: 37.27px;
    left: 134.09px;
}
.invested1 {
    top: 117.07px;
    left: 134px;
}
.invested2 {
    top: 192.28px;
    left: 133.1px;
}
.sold, .sold1, .sold2 {
    position: absolute;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 8px;
}
.sold {
    top: 37.27px;
    left: 199.01px;
}
.sold1 {
    top: 117.07px;
    left: 198.11px;
}
.sold2 {
    top: 192.28px;
    left: 198.03px;
}
.price50, .price15, .price40 {
    position: absolute;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}
.price50 {
    top: 50.45px;
    left: 134.09px;
}
.price15 {
    top: 129.41px;
    left: 134.25px;
}
.price40 {
    top: 202px;
    left: 131.72px;
}
.arrow__profit1 {
    position: absolute;
    width: 18.26px;
    height: 7.1px;
    top: 53.5px;
    left: 173.65px;
}
.arrow__profit2 {
    position: absolute;
    width: 18.31px;
    height: 7.25px;
    top: 131.57px;
    left: 172.68px;
}
.arrow__profit3 {
    position: absolute;
    width: 18px;
    height: 7px;
    top: 210px;
    left: 173.72px;
}
.price100-p, .price60-p, .price80-p {
    position: absolute;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}
.price100-p {
    top: 51.47px;
    left: 199.01px;
}
.price60-p {
    top: 129.49px;
    left: 197.82px;
}
.price80-p {
    top: 204.02px;
    left: 196.72px;
}
.income1__profit, .income2__profit, .income3__profit {
    margin: 0;
    font-family: "Comfortaa", sans-serif;
    text-transform: uppercase;
    flood-color: rgb(35, 35, 38);
    font-size: 6px;
    font-weight: 700;
} 
.income1__profit {
    position: absolute;
    top: 49.36px;
    left: 265.45px;
}
.income2__profit {
    position: absolute;
    top: 125.55px;
    left: 265.21px;
}
.income3__profit {
    position: absolute;
    top: 218.04px;
    left: 268.68px;
}
.percent100__profit1, .percent100__profit2, .percent300__profit3 {
    margin: 0;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 9px;
    color: rgb(222, 89, 34);
}
.percent100__profit1 {
    position: absolute;
    top: 60.59px;
    left: 266.68px;
}
.percent100__profit2 {
    position: absolute;
    top: 228.08px;
    left: 270.37px;
}
.percent300__profit3 {
    position: absolute;
    top: 134.44px;
    left: 265.91px;
}

/* 9. Открой франшизу */

.open__franchise {
    min-height: 127px;
    background-color: rgb(232, 227, 227);
}
.franchise__content {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 14px;
    justify-items: start;
    padding-top: 8px;
}
.text__franchise {
    grid-column: 1/3;
    grid-row: 1/2;
    font-family: 'intro_bold';
    color: rgb(222, 89, 34);
    font-size: 13px;
}
.input__name-of, .input__email-of, .input__tel-of, .input__city-of {
    border: 1px solid rgb(35, 35, 38);
    border-radius: 30px;
    width: 112px;
    height: 23px;
    background-color: rgb(232, 227, 227);
    padding: 0 20px;
}
.input__name-of {
    grid-column: 1/2;
    grid-row: 2/3;
}
.input__email-of {
    grid-column: 1/2;
    grid-row: 3/4;
}
.input__tel-of {
    grid-column: 3/4;
    grid-row: 2/3;
}
.input__city-of {
    grid-column: 3/4;
    grid-row: 3/4;
}
.button__request-of {
    grid-column: 3/4;
    grid-row: 1/2;
    cursor: pointer;
    padding: 0;
    background-color: rgb(222, 89, 34);
    border: none;
    border-radius: 30px;
    width: 112px;
    height: 23px;
    color: rgb(255, 255, 255);
    font-family: 'intro_bold';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
}
.offer__text-of {
    font-family: 'intro_bold';
    text-align: center;
    color: rgb(35, 35, 38);
    font-size: 6px;
}

/* 10. Почему OMIMI? */

.why__omimi {
    min-height: 250px;
    background-color: rgb(255, 255, 255);
}
.why__omimi-h4 {
    margin: 0;
    font-family: 'intro_bold';
    text-align: center;
    color: rgb(239, 131, 10);
    font-size: 22px;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 7px;
}
.reasons__content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.star1, .star2, .star3, .star4, .star5, .star6, .star7 {
    font-family: 'intro_bold';
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 10px;
    text-transform: uppercase;
}
.cat_with_balloon {
    width: 87px;
    height: 106px;
}
.reasons {
    float: left;
}
.tasting-h4 {
    margin: 0;
    font-family: 'intro_bold';
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 7px;
    padding-bottom: 6px;
}

/* 11. Заработай с OMIMI */

.make__money {
    min-height: 127px;
    background-color: rgb(45, 45, 45);
}
.make__money__content {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 14px;
    justify-items: start;
    padding-top: 8px;
}
.text__make__money {
    grid-column: 1/3;
    grid-row: 1/2;
    font-family: 'intro_bold';
    color: rgb(238, 130, 11);
    font-size: 13px;
}
.input__name-mm, .input__email-mm, .input__tel-mm, .input__city-mm {
    border: 1px solid rgb(239, 232, 232);
    border-radius: 30px;
    width: 112px;
    height: 23px;
    background-color: rgb(45, 45, 45);
    padding: 0 20px;
}
.input__name-mm {
    grid-column: 1/2;
    grid-row: 2/3;
}
.input__email-mm {
    grid-column: 1/2;
    grid-row: 3/4;
}
.input__tel-mm {
    grid-column: 3/4;
    grid-row: 2/3;
}
.input__city-mm {
    grid-column: 3/4;
    grid-row: 3/4;
}
.button__request-mm {
    grid-column: 3/4;
    grid-row: 1/2;
    cursor: pointer;
    padding: 0;
    background-color: rgb(222, 89, 34);
    border: none;
    border-radius: 30px;
    width: 112px;
    height: 23px;
    color: rgb(255, 255, 255);
    font-family: 'intro_bold';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
}
.offer__text-mm {
    font-family: 'intro_bold';
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 6px;
}

/* 12. Как стать партнером */

.become__partner{
    min-height: 250px;
    background-color: rgb(255, 255, 255);
}
.become__partner__content {
    padding-top: 19px;
}
.become__partner__text {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    padding-bottom: 0;
    align-items: center;
    justify-items: center;
    grid-row-gap: 5px;
}
.partner__text {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
    font-family: 'intro_bold';
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-transform: uppercase;
}
.omimi__text-p {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0;
    font-family: 'intro_bold';
    text-align: center;
    color: rgb(239, 131, 10);
    font-size: 22px;
    text-transform: uppercase;
}
.paws-l {
    width: 41px;
    height: 82px;
    grid-column: 1/2;
    grid-row: 3/4;
}
.paws-r {
    width: 41px;
    height: 82px;
    grid-column: 3/4;
    grid-row: 3/4;
}
.for__partner {
    grid-column: 2/3;
    grid-row: 3/4;
}
.get, .conclude, .leave, .get__profit {
    color: rgb(51, 51, 51);
    font-family: 'intro_bold';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
}
.paws_hand1, .paws_hand2, .paws_hand3 {
    width: 89px;
    height: 66px;
    padding-bottom: 0;
}
.business__plan {
    padding: 0;
    cursor: pointer;
    background-color: rgb(222, 89, 34);
    border: none;
    border-radius: 30px;
    width: 93px;
    height: 18px;
    color: rgb(255, 255, 255);
    font-family: 'intro_bold';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    text-align: center;
}
.contract {
    padding: 0;
    cursor: pointer;
    background-color: rgb(238, 130, 11);
    border: none;
    border-radius: 30px;
    width: 93px;
    height: 18px;
    color: rgb(255, 255, 255);
    font-family: 'intro_bold';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    text-align: center;
}
.paws__hand {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

/* 13. Футер */

.footer {
    min-height: 139px;
    background-color: rgb(45, 45, 45);
}
.footer__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 25px;
}
.omimi_footer {
    width: 128px;
    height: 47px;
}
.privacy, .omimi23 {
    color: rgb(255, 255, 255);
    font-family: 'intro_bold';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}



@media (min-width: 768px) and (max-width: 1024px) {
    .phone {
        font-size: 19px;
    }
    .circles {
        width: 44px;
        height: 19px;
    }
    .button__request {
        width: 132px;
        height: 36px;
        font-size: 13px;
    }
   .about {
        min-height: 340px;
   }
   .info__h4 {
        font-size: 22px;
   }
   .offer { /*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
        min-height: 140px;
    }
    .text__offer {
        font-size: 20px;
    }
    .input__name, .input__email, .input__tel, .input__city {
        width: 128px;
        height: 28px;
    }
    .button__request-of {
        width: 128px;
        height: 28px;
        font-size: 14px;
    }
    .offer__text {
        font-size: 13px;
    }
    .video {
        min-height: 340px;
    }
    .how__work {
        font-size: 32px;
    }
    .cat__button {
        justify-content: space-evenly;
    }
    .cat__work {
        width: 221px;
        height: 224px;
    }
    .watch__video {
        width: 210px;
        height: 200px;
    }
    .text__button1, .text__button3 {
        font-size: 20px;
    }





}